#main{
    background-color: lavender;
}

#title-main{
    display: grid;
    grid-template-areas: 
    "logo logo"
    "dropdown dropdown"
    "display-info display-info"
    "text-input text-input"
    "list-ul list-ul"
    "film-review-text film-review-text";
    grid-gap: 20px;
    max-width: 800px;
    width: 75%;
    margin: 0 auto;
}


#header-logo{
    background-color: skyblue;
    grid-area: logo;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
   }
   #studio-logo{
    width: 375px
}

   #app-title{
      font-weight: bold;
      font-family:'Courier New', Courier, monospace;
      
   }

   #eletwo{
    grid-area: eletwo;
    grid-template-columns: repeat(2, 1fr);
   }

#dropdown{
  
    border-radius: 5px;
    border-color: dodgerblue;
    border-width: 2px;
    font-family: monospace;
    text-align: center;
}

#display-info{
    grid-area: display-info;
}

#text-input{
    grid-column: text-input;
}

#list-ul{
    grid-area: list-ul;
}

#film-review-text{
    grid-column: film-review-text;
}