#main{
    background-color: lavender;
}

#title-main{
    display: grid;
    grid-template-areas: 
    "logo logo"
    "dropdown dropdown"
    "display-info display-info"
    "text-input text-input"
    "list-ul list-ul"
    "film-review-text film-review-text";
    grid-gap: 5px;
    max-width: 800px;
    width: 75%;




}

#header-logo{
    background-color: skyblue;
    grid-area: logo;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
   }

   #app-title{
      font-family:'Courier New';
   }

   #studio-logo{
       width: 250px
   }

#dropdown{
    grid-area: dropdown;
}

#display-info{
    grid-area: display-info;
}

#text-input{
    grid-column: text-input;
}

#list-ul{
    grid-area: list-ul;
}

#film-review-text{
    grid-column: film-review-text;
}